<!-- userNotFound.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Not Found</title>
    <!-- Include Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 flex items-center text-white justify-center h-screen">
    <div class="rounded border-[1px] border-green-500 px-14 py-10">
        <h1 class="text-3xl font-semibold  mb-4">User not found !</h1>
        <p class="text-red-800 mb-4">The user you are looking for does not exist.</p>
        <a href="/" class="text-blue-500 hover:text-blue-700">Try another Account?</a>
    </div>
</body>
</html>
